@{
    ViewBag.Title = "About";
}
<h2 data-bind="text: title"></h2>
<h3>Your application description page.</h3>
<p>Use this area to provide additional information.</p>


<script>
    require(['knockout', 'about/aboutViewModel', 'domReady!'], function (ko, aboutViewModel) {
        ko.applyBindings(new aboutViewModel());
    });
</script>
