
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Your contact page.</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<p>First name: <input data-bind="value: firstName" /></p>
<p>First name capitalized: <strong data-bind="text: firstNameCaps"></strong></p>
<script>
    require(['knockout', './contact/contactViewModel', 'domReady!'], function (ko, contactViewModel) {
        ko.applyBindings(new contactViewModel());
    });
</script>