    <div class="text-center">
    <h1>To-Do <small>List</small></h1>
    <form id="CreateTodo" class="form-inline">
        <div data-bind="text: errorMsg" class="text-danger list-unstyled"></div>
        <div class="form-group">
            <input name="Description" data-bind="value: todoItem().Description" class="form-control" placeholder="Enter task" />
        </div>
        <div class="form-group">
            <button type="button" data-bind="event: { click: add }" value="Create" class="btn btn-primary">Add</button>
        </div>
        <div class="help-block with-errors error">
            <span data-bind="validationMessage: todoItem().Description"></span>
        </div>
    </form>
    <hr />
    <div data-bind="if: loading">
        Loading ...
    </div>
    <div data-bind="template: { name: 'listitem-template', foreach: todoList }"></div>
    <br />
    <ul id="pagination" class="pagination"></ul>
</div>


<script type="text/html" id="listitem-template">

    <form class="editTodo form-inline">
        <div class="text-danger"></div>
        <input data-bind="value: TodoId" type="hidden" name="TodoId" />
        <div class="form-group">
            <div class="checkbox">
                <input data-bind="checked: IsDone" type="checkbox" name="IsDone" />
            </div>
            <input data-bind="value: Description" name="Description" class="form-control" required />
        </div>
        <div class="btn-group">
            <button type="button" data-bind="event: { click: $parent.edit }" name="submitButton" value="Save" class="btn btn-success" title="Save"><span class="glyphicon glyphicon-floppy-disk"></span></button>
            <button type="button" data-bind="event: { click: $parent.delete }" class="btn btn-danger deleteButton" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
        <ul id="validation-errors" class="text-danger list-unstyled"></ul>
    </form>
    <br />

</script>

<script defer>
    require(['knockout', 'validation', './home/todoViewModel', 'domReady!'], function (ko, validation, TodoViewModel) {
        
        TodoViewModel.init();
    });
</script>